body {
    overflow: hidden;
    background-color: black;
}

p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
    margin: 0;
}

.fade-message {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.fade-message.hidden {
    opacity: 0;
}